:root {
  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
}

.article h1,
.article h2,
.article h3 {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: black;
}
.article {
  font-size: var(--size-step-0);
  color: #1f2937;
  /* text-wrap: balance; */
}
.article p {
  line-height: 1.7;
}
.article h1 {
  font-size: var(--size-step-4);
  max-width: 20ch;
}
.article h2 {
  font-size: var(--size-step-3);
  max-width: 28ch;
}
.article h3 {
  font-size: var(--size-step-2);
  max-width: 28ch;
}

.article ol {
  list-style: decimal;
  padding-left: 2rem;
}
.article ol li::marker {
  font-weight: 700;
  font-size: 1.1em;
}

.article ul {
  padding-left: 12px;
}
.article ul li {
  padding-left: 4px;
}

.privacy-article ul {
  list-style: circle;
}
.privacy-article ul li::marker {
  content: "✓";
  color: #facc15;
  right: calc(100% + 2rem);
  position: absolute;
}

.article blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
  color: black;
  max-width: 50ch;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
.article :is(h1, h2, h3, blockquote) {
  margin-block-start: var(--flow-space, 1.25em);
  margin-block-end: var(--flow-space, 0.5em);
}
.article :is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

.article {
  max-width: 65ch;
  margin-inline: auto;
  padding-bottom: 12px;
}

/* .article a {
  color: currentColor;
  text-decoration-color: #2dd4bf;
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
} */

.small-article h1,
.small-article h2,
.small-article h3 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: black;
}
.small-article {
  @apply text-text_readable;
}
.small-article p {
  @apply text-h6;
  line-height: 1.7;
  max-width: 90ch;
}
.small-article h1 {
  @apply text-h1;
}
.small-article h2 {
  @apply text-h2;
}
.small-article h3 {
  @apply text-h3;
}

.small-article ul,
.small-article ol {
  @apply text-body;
}

.small-article blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
  color: black;
  max-width: 50ch;
}

.small-article.flow > * + * {
  margin-block-start: var(--flow-space, 0.5rem);
}

.small-article img {
  @apply rounded-sm shadow-md shadow-black/20;
  max-height: 400px;
  max-width: 100%;
  width: auto;
  object-fit: cover;
}

.small-article img {
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 400px;
  margin-block: 8px;
}

/* .small-article.lede p:first-child {
  @apply !text-h5 !italic;
  --flow-space: 0.75rem;
} */
