.header {
  height: 153.6px;
}
@media (max-width: 960px) {
  .header {
    height: 211.2px;
  }
}
@media (max-width: 600px) {
  .header {
    height: 257.2px;
  }
  .desktop_input {
    display: none;
  }
  .mobile_input {
    display: block;
  }
}
.mobile_input {
  display: none;
}
